.custom-tooltip--averageSesions {
    background-color: #FFFFFF;
    width: 39px;
    height: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    text-align: center;
    line-height: 25px;
    color: #000000;
    white-space: nowrap;
  }




