.main{
    margin-top: 75px;
}

.main__userActivity{
    background-color: #FBFBFB;
    width: 835px;
    height: 320px;
}

.main__userAverageSessions{
    background-color: #FF0000;
    height: 263px;
    width: 258px;
}

.main__userPerformances{
    background-color: #282D30;
    height: 263px;
    width: 258px;
    margin-top: 20px;
}

/* laptop 1024px*/
@media screen and (max-width: 1024px){
    .main__userActivity{
        width: 535px;
    }
}