/* header */
.header{
    background-color: #020203;
    display: flex;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header .logo{
    margin-right: 149px;
}
.header .logo__img{
    width: 178px;
    height: 61px;
}
/* navigation */
.navigation .menu{
    list-style: none;
    display: flex;
}
.navigation .menu__link:not(:first-child){
    margin-left: 204px;
}
.navigation .menu__link button{
    border: 0;
    background: none;
    outline: none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
}


